
table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}
th {
    background-color: blueviolet;
}
tr:nth-child(even){
    background-color: darkorange;
}
tr {
    background-color: gold;
}
h1 {
    text-align: center;
}